{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}" />

<h1>Orders</h1>

<table>
    <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Marketplace</th>
        <th>Lengow status</th>
        <th>Marketplace status</th>
        <th>Amount</th>
    </tr>
{% for order in object_list %}
    <tr>
        <td><a href="{% url 'orders:order_detail' order.order_id %}">{{ order.order_id }}</a></td>
        <td>{{ order.order_purchase_date }} {{ order.order_purchase_heure }}</td>
        <td>{{ order.marketplace }}</td>
        <td>{{ order.order_status_lengow }}</td>
        <td>{{ order.order_status_marketplace }}</td>
        <td>{{ order.order_amount }} {{ order.order_currency }}</td>
    </tr>
{% endfor %}
</table>

{% if not filter %}
<hr>
<div class="pagination">
    <h2>Pagination</h2>
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}

<hr>
<h2>Filtering</h2>
{% if filter %}
    <p><i><a href="{% url 'orders:index' %}">Switch to simple filtering</a></i></p>
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
{% else %}
    <p><i><a href="{% url 'orders:filters' %}">Switch to advanced filtering</a></i></p>
    <form action="" method="get">
        {{ f.form.as_p }}
        <input type="submit" />
    </form>
{% endif %}
