<h1>Order {{ order.order_id }}</h1>
<ul>
    <li><strong>Amount:</strong> {{ order.order_amount }} {{ order.order_currency }}</li>
    <li><strong>Date:</strong> {{ order.order_purchase_date }} {{ order.order_purchase_time }}</li>
    <li><strong>Shipped to:</strong> {{ order.delivery_full_address }}</li>
    <li>{{ order.products.count }} product{{ order.products.count|pluralize }}</li>
</ul>
